html {
  	height: 100%; 
}

body {
  	margin: 0px;
  	font-family: 'Helvetica Neue', Helvetica, Arial;
  	color: #333;
  	height: 100%;
  	background: white;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-touch-callout: none;
}

button,
.btn,
#optionsBox,
#nav,
#loadingOverlay,
.clearfix{display:none !important;}

.ifmcontentstoprint {
	position: fixed;
	left: 0px;
	top: 0px;
	float: none;
	background: white;
	width: 100%;
}

#region-main {
	margin: 0px;
	float: none;
	width: 100%;	
	position: fixed !important;
    left: 0px;
    top: 0px !important;
    background: transparent;
}

#monthlyStatsTab {
	float: left !important;
	width: 50% !important;
} 

#categoryStatsTab {
	float: left !important;
	width: 50%  !important;
}

.col-md-4{
	float: left !important;
	width: 33% !important;
}
.container {
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
}

#StatisticsTabs {
	margin: 0px !important;
}

#StatisticsTabs a {
	margin: 0px !important;
}

.box {
	border-radius: 2px; 
	border: 1px solid #ccc;
	padding: 0px !important;
}

.chartTypeButton {
	float: right;
}

.chartTypeButton img {
    width: 20px !important;
}

.number {
	font-size: 30px;
}

#numbers .title div {
	text-align: center;
}

#numbers .box {
	padding: 10px !important;
}

#tagcloud {
	margin: 0 auto;
}



.title {
	color: #333;
	background-color: #ddd;
	padding: 5px 20px;
	font-weight: bold;
}

div.jqcloud {
	overflow: visible;
}

/*#sliderValue {
	margin-bottom: 10px;
}

#sliderValue input {
	width: 60px !important;
	float: left;
}*/

#dash {
	float: left;
	margin: 10px 10px 0px 10px;
}

#tagcloud span {
	cursor: default;
	/*color: #333;*/
}

.row {
	margin: 0px !important;
}

#tagcloud {
	/*height: 370px;
    width: 570px;*/
    /*text-align: center;
    vertical-align: middle;*/
    padding: 10px;
    margin: 0 auto;
}
/**
.ui-rangeSlider-range {
    background: teal; 
	border-radius: 0px !important;
}

.ui-rangeSlider-container {
	border-radius: 2px; 
	border: none;
	margin: 10px 0px;
	height: 7px;
	background: none;
	box-shadow: none !important;
	background-color: #ccc;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
	border: none;
}
.ui-rangeSlider-bar {
	background-color: teal; 
	height: 7px;
	margin: 0px;
}
.ui-rangeSlider-handle {
	background: #333;
	border-radius: 2px; 
}

.ui-rangeSlider-handle:focus {
    outline:none;
}

.ui-rangeSlider .ui-rangeSlider-handle {
    background: teal; //#333;//
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    top: -3px !important;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-datepicker-trigger {
	width: 30px; 
	cursor: pointer; 
}
*/

.more {
	float: right; 
	cursor: pointer;
	text-decoration: underline;
}

.print {
	background: none;
    border: none;
    float: right;
    vertical-align: middle;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer;
    width: 50px;
}

#coursePie {
	height: 500px;
}

.jqplot-data-label {
	color: white;
}

.modal-dialog {
	width: 800px !important;
}

.zmdi-zoom-in {
	float: right;
	padding-left: 10px;
	cursor: pointer;
}

#loadingOverlay {
  
  visibility: hidden !important;
}

#calculatingResults {
	visibility: hidden !important;
}

#loginStatisticsChart, #accessStatisticsChart {
	width	: 100%;
	height	: 300px;
}	

#enlargementChart {
	width: 100%; 
	height: 500px;
}

a[href]:after {
  content: " <"attr(href)">";
  color: #888;
  background-color: inherit;
  font-style: italic;
  size: 80%;
} 

a:link:after { 
	content: " (" attr(href) ") "; 
}
