html {
  	height: 100%; 
}

body {
  	margin: 0px;
  	font-family: 'Helvetica Neue', Helvetica, Arial;
  	color: #333;
  	height: 100%;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-touch-callout: none;
}

.container {
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
}

#StatisticsTabs {
	margin: 0px !important;
}

#StatisticsTabs a {
	margin: 0px !important;
}

.bootstrap-select {
	width: 500px !important;
}

.box {
	border-radius: 2px; 
	border: 1px solid #ccc;
	padding: 0px !important;
}

.chartTypeButton {
	float: right;
}

.chartTypeButton img {
    width: 20px !important;
}

.number {
	font-size: 30px;
}

#numbers .title div {
	text-align: center;
}

#numbers .box {
	padding: 10px !important;
}

#tagcloud {
	margin: 0 auto;
}

#options, .innerBox {
	padding: 20px;
	background-color: white;
}

#options button {
	margin-bottom: 20px;
}

#options button:hover {
	background-color: teal; 
	color: white;
}

#optionsBox {
	width: 470px;
	margin: 20px auto;
}

#categoryStatisticsOptionsBox {
	margin: 20px;
}

.selectSeparator {
	background-color: #ccc;
	height: 2px;
	display: none;
}

#categoryStatisticsSelectItemContainer div {
	padding: 10px 10px 0px 10px;
}

select {
  	width:100% !important;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	border: 1px solid #bbb;
  	border-radius: 2px;
  	padding:.75em 1em .5em 1em;
  	margin: 4px 0px!important;
  	background-color:white;
  	background-image:url(../images/select-arrow.jpg);
  	background-size: 20px;
  	background-position: 99%;
  	background-repeat: no-repeat;
}

.title {
	color: #333;
	background-color: #ddd;
	padding: 5px 20px;
	font-weight: bold;
}

div.jqcloud {
	overflow: visible;
}

#sliderValue {
	margin-bottom: 10px;
}

#sliderValue input {
	width: 60px !important;
	float: left;
}

#dash {
	float: left;
	margin: 10px 10px 0px 10px;
}

#tagcloud span {
	cursor: default;
	/*color: #333;*/
}

.row {
	margin: 0px !important;
}

#tagcloud {
	/*height: 370px;
    width: 570px;*/
    /*text-align: center;
    vertical-align: middle;*/
    padding: 10px;
    margin: 0 auto;
}

.ui-rangeSlider-range {
    background: teal; 
	border-radius: 0px !important;
}

.ui-rangeSlider-container {
	border-radius: 2px; 
	border: none;
	margin: 10px 0px;
	height: 7px;
	background: none;
	box-shadow: none !important;
	background-color: #ccc;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
	border: none;
}
.ui-rangeSlider-bar {
	background-color: teal; 
	height: 7px;
	margin: 0px;
}
.ui-rangeSlider-handle {
	background: #333;
	border-radius: 2px; 
}

.ui-rangeSlider-handle:focus {
    outline:none;
}

.ui-rangeSlider .ui-rangeSlider-handle {
    background: teal; /*#333;*/
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    top: -3px !important;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-datepicker-trigger {
	width: 30px; 
	cursor: pointer; 
}

.more {
	float: right; 
	cursor: pointer;
	text-decoration: underline;
}

.print {
	background: none;
    border: none;
    float: right;
    vertical-align: middle;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer;
    width: 70px;
}

.list-group-item {
	border-radius: 0px !important;
	padding-left: 30px !important;
}

#coursePie {
	height: 500px;
}

.jqplot-data-label {
	color: white;
}

.modal-dialog {
	width: 800px !important;
}

.zmdi-zoom-in, #categoryStatisticsOptionsAddButton {
	float: right;
	padding-left: 10px;
	cursor: pointer;
}

#loadingOverlay {
  	width: 100%; 
  	height: 100%; 
  	position: absolute; 
  	top: 0px;
  	z-index: 10;
  	display: none;
  	background-color: rgba(0, 0, 0, 0.7);
}

#calculatingResults {
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 45%;
	padding-top: 50px;
}

#loginStatisticsChart, #accessStatisticsChart, #courseStatisticsChart, #categoryStatisticsChart {
	width	: 100%;
	height	: 300px;
}	

#enlargementChart {
	width: 100%; 
	height: 500px;
}

.panel-default>.panel-heading {
	background-color: transparent !important;
}

.panel-group .panel {
	position: relative;
	cursor: pointer;
}

.courseOfStudiesCollapse ul {
	margin: 0px;
}
.panel a {
	text-decoration: none !important;
}

.categoryTitle {
	padding-left: 30px;
	margin: 0px;
}

#accordion {
	width: 50%;
}

.colorStripe {
    width: 20px;
    position: absolute;
    height: 100% !important;
    top: 0px;
    left: 0px;
}